:root {
  --iris: #4d5ae5;
  --navyblue: #2e2f42;
  --cloud: #f4f4fd;
  --Silver: #c0c0c0;
  --slate: #434455;
  --cornflower: #e7e9fc;
  --white: #ffffff;
  --ocean: #404bbf;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}
/* .primary {
  color: var(--navyblue);
}
.secondary {
  color: var(--cloud);
} */

cursor {
  pointer-events: painted;
}
.text-link:hover,
.text-link:focus {
  color: var(--iris);
}
.button-text:hover {
  color: var(--white);
  background: #404bbf;
  border-color: #9747ff;
}
.button-text-down:hover {
  color: var(--white);
  background: #404bbf;
  border-color: #9747ff;
}
.button-load-more:hover,
.button-load-more:focus {
  background-color: #0b44cd;
}
.button-load-more {
  color: #ffffff;
  background-color: #3470ff;
  transition: background-color 0.3s ease;
}

/* .card-link:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  border-color: #2e2f42;
} */

/* .button-close:hover,
  .button-close:focus {
    background: var(--iris);
    color: var(--white);
  }
  
  .name:focus {
    border: 1px solid #4d5ae5;
    transition-property: border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    outline: none;
  }
  .name:focus + .modal-img-icon {
    fill: #4d5ae5;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    outline: none;
  }
  .tel:focus {
    border: 1px solid #4d5ae5;
    transition-property: border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    outline: none;
  }
  .tel:focus + .modal-img-icon {
    fill: #4d5ae5;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    outline: none;
  }
  .email:focus {
    border: 1px solid #4d5ae5;
    transition-property: border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    outline: none;
  }
  .email:focus + .modal-img-icon {
    fill: #4d5ae5;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    outline: none;
  }
  .form-comment:focus {
    border: 1px solid #4d5ae5;
    transition-property: border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    outline: none;
  }
  .button-send:hover,
  .button-send:focus {
    background: var(--iris);
  }
  .link-current::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    background: #404bbf;
    border-radius: 2px;
    left: 0;
    bottom: 0;
    color: #404bbf;
    margin-bottom: -1px;
  } */

/* .beckdrop {
    position: fixed;
    opacity: 1;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .beckdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
  }
  .beckdrop.is-hidden-two {
    opacity: 0;
    pointer-events: none;
  }
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 408px;
    height: 576px;
    display: flex;
    flex-direction: column;
    padding: 40px;
    padding-right: 24px;
    padding-left: 24px;
    background-color: var(--white);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
  }
  .modal-two {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    height: 600px;
    display: flex;
    flex-direction: column;
    padding: 40px;
    padding-right: 24px;
    padding-left: 24px;
    background-color: var(--white);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
  }
  
  .button-close {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    position: absolute;
    right: 24px;
    top: 24px;
    border-radius: 50%;
    background: transparent;
    border: 1px solid rgba(231, 233, 252, 1);
    cursor: pointer;
    background: #e7e9fc;
    color: #000;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal-img {
    fill: currentColor;
  }
  .name {
    width: 360px;
    height: 40px;
    background: #fcfcfc;
    border-radius: 4px;
    margin-top: 4px;
    margin-bottom: 8px;
    text-indent: 38px;
    border: 1px solid rgba(46, 47, 66, 0.2);
  }
  .tel {
    width: 360px;
    height: 40px;
    background: #fcfcfc;
    border-radius: 4px;
    border: 1px solid #2e2f42;
    margin-bottom: 8px;
    margin-top: 4px;
    text-indent: 38px;
    border: 1px solid rgba(46, 47, 66, 0.2);
  }
  .email {
    width: 360px;
    height: 40px;
    background: #fcfcfc;
    border-radius: 4px;
    margin-top: 4px;
    border: 1px solid #2e2f42;
    margin-bottom: 8px;
    text-indent: 38px;
    border: 1px solid rgba(46, 47, 66, 0.2);
  }
  .comment {
    width: 360px;
    height: 120px;
    left: 0px;
    top: 216px;
    border: 1px solid #2e2f42;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid rgba(46, 47, 66, 0.2);
  }
  .modal-text {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.04em;
    color: #8e8f99;
    padding-top: 8px;
    padding-bottom: 4px;
    position: relative;
  }
  .text-modal {
    width: 360px;
    height: 24px;
    left: 540px;
    top: 152px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding-top: 24px;
    padding-bottom: 34px;
  }
  .text-modal-two {
    height: 24px;
    left: 540px;
    top: 152px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding-top: 24px;
    padding-bottom: 34px;
  }
  .modal-form-custom-checkbox{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    margin-left: 10px;
    margin-right: 10px;
    border: 2px solid var(--navyblue);
    margin-top: 16px;
  }
  .modal-form-checkbox:checked + .modal-form-custom-checkbox{
  background: #404BBF;
  border: 1px solid #404BBF;
  border-radius: 2px;
  }
  .modal-form-checkbox:checked + .modal-form-custom-checkbox .modal-form-checkbox-icon{
    opacity: 1;
    fill: var(--iris);
  }
  .modal-form-option-span{
    font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.04em;
  color: #8E8F99;
  } */

/* .modal-img-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 45px;
    left: 19px;
    transform: translateY(-50%);
  }
  .form-comment {
    display: flex;
    justify-content: center;
    width: 360px;
    height: 120px;
    border: 1px solid rgba(46, 47, 66, 0.2);
    border-radius: 4px;
    padding-top: 8px;
    padding-left: 16px;
    margin-top: 4px;
    resize: none
  }
  .form-comment::placeholder {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    opacity: 20;
  } */

/* Test-Task-css */
.dropdown-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 35px;
}
.label {
  margin-bottom: 5px;
  margin-right: auto;
  color: #8a8a89;
  display: flex;
}
.select-car {
  padding: 10px;
  font-size: 16px;
  width: 224px;
  height: 48px;
  max-height: 100px;
  overflow-y: auto;
  color: #121417;
  border-radius: 14px;
  background-color: #f7f7fb;
  padding: 14px, 89px, 14px, 18px;
  gap: 32px;
}
.select-price {
  padding: 10px;
  font-size: 16px;
  width: 125px;
  height: 48px;
  max-height: 100px;
  overflow-y: auto;
  color: #121417;
  border-radius: 14px;
  background-color: #f7f7fb;
  padding: 14px, 89px, 14px, 18px;
  gap: 32px;
}
.text {
  /* display: flex;
  gap: 90px; */
  /* flex-direction: column; */
}
.text-two {
  /* display: flex;
  gap: 120px; */
}
.text-three {
  /* display: flex;
  gap: 120px; */
}
.container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  overflow: hidden;
}
.left-side {
  float: left;
  width: 160px;
  height: 48px;
  border-top-left-radius: 14px;
  border-bottom-left-radius: 14px;
  background-color: #8a8a8933;
  padding: 20px;
}
.from-text {
  display: flex;
  align-items: center;
}
.separator {
  width: 2px;
  height: 100%;
  background-color: #ccc;
  float: left;
}
.right-side {
  float: left;
  width: 160px;
  height: 48px;
  background-color: #f7f7fb;
  padding: 20px;
  border: 1px;
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
}

.section-img {
  display: flex;
  column-gap: 29px;
  flex-wrap: wrap;
  /* margin-top: 72px; */
  row-gap: 48px;
}
.card {
}
.section-test {
  padding-top: 96px;
  padding-bottom: 120px;
}
.list-markers {
  list-style-type: none;
}
.conteanir {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}
.button-filter {
  display: flex;
  gap: 24px;
  padding-bottom: 50px;
}
.button-text {
  width: 136px;
  align-items: center;
  text-align: center;
  padding: 12px 24px;
  color: #4d5ae5;
  background: #f4f4fd;
  /* cursor: pointer; */
  border: 1px solid #e7e9fc;
  border-radius: 14px;
  margin-left: 100px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-text-down {
  width: 136px;
  /* display: flex; */
  padding: 12px 24px;
  color: #4d5ae5;
  background: #f4f4fd;
  /* cursor: pointer; */
  border: 1px solid #e7e9fc;
  border-radius: 14px;
  margin-top: 100px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-down {
  display: flex;
  align-items: center;
  justify-content: center;
}
.button-load-more {
  width: 250px;
  height: 44px;
  padding: 12px, 99px, 12px, 99px;
  border-radius: 12px;
}
.button-load {
  font-family: Manrope;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}
.money {
}

.button-card {
  margin-top: 10px;
}
.list-title {
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #2e2f42;
  flex: none;
}
.description {
  font-family: Manrope;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  color: #121417;
}
.list-text-card {
  position: relative;
  padding: 24px 0;
  display: inline-block;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
}
.card-link {
  text-decoration: none;
  display: block;
  width: 250px;
  /* height: 426px; */
  /* border-radius: 14px;
  border: 1px solid #2e2f42;  */
}
.text-wrap {
  position: relative;
  overflow: hidden;
  border-radius: 14px;
}

.image-container {
  position: relative;
}
.heart-icon {
  content: url("./images/svg/Vector-1.svg");
  position: absolute;
  width: 18px;
  top: 20px;
  right: 21px;
}
.heart-icon:hover,
.heart-icon:focus {
  transform: scale(1.2);
  background-color: #3470ff;
  border-radius: 14px;
}

/* .modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
} */
